# Librerias

In [5]:
import pandas as pd
import sqlite3 as sql
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix
from sklearn import tree
from sklearn.tree import export_text
from sklearn.preprocessing import LabelEncoder
import sys
import matplotlib.pyplot as plt
import joblib

## 2016

In [12]:
d2016 = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/Datos/df_2016")

In [ ]:
d2016.info()

In [13]:
# Duplicados
display(d2016[d2016.duplicated(keep='last')])
display(d2016[d2016.duplicated(keep='first')])

Empty DataFrame
Columns: [Age, BusinessTravel, Department, DistanceFromHome, Education, EducationField, EmployeeID, Gender, JobLevel, JobRole, MaritalStatus, MonthlyIncome, NumCompaniesWorked, PercentSalaryHike, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, YearsAtCompany, YearsSinceLastPromotion, YearsWithCurrManager, InfoDate, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance, JobInvolvement, PerformanceRating, Attrition, retirementDate, retirementType, resignationReason, Attrition:1, retirementDate:1, retirementType:1, resignationReason:1]
Index: []

[0 rows x 34 columns]

Empty DataFrame
Columns: [Age, BusinessTravel, Department, DistanceFromHome, Education, EducationField, EmployeeID, Gender, JobLevel, JobRole, MaritalStatus, MonthlyIncome, NumCompaniesWorked, PercentSalaryHike, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, YearsAtCompany, YearsSinceLastPromotion, YearsWithCurrManager, InfoDate, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance, JobInvolvement, PerformanceRating, Attrition, retirementDate, retirementType, resignationReason, Attrition:1, retirementDate:1, retirementType:1, resignationReason:1]
Index: []

[0 rows x 34 columns]

In [ ]:
# Drop a variables no necesarias
df2016 = df2016.drop(['index', 'InfoDate','Attrition', 'retirementDate','retirementType','resignationReason','Attrition:1', 'retirementDate:1','retirementType:1','resignationReason:1'], axis=1)

# Base 2015

In [6]:
d2015 = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/Datos/df_2015")

In [7]:
# Ver los datos
d2015.sort_values(by=['EmployeeID'],ascending=1)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,...,InfoDate,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Attrition,retirementDate,retirementType,resignationReason
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,...,2015-12-31 00:00:00,3.0,4.0,2.0,3,3,NaN,NaN,NaN,NaN
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,Research Scientist,...,2015-12-31 00:00:00,3.0,2.0,4.0,2,4,Yes,2016-10-15 00:00:00,Resignation,Others
2,32,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,...,2015-12-31 00:00:00,2.0,2.0,1.0,3,3,NaN,NaN,NaN,NaN
3,38,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,...,2015-12-31 00:00:00,4.0,4.0,3.0,2,3,NaN,NaN,NaN,NaN
4,32,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,...,2015-12-31 00:00:00,4.0,1.0,3.0,3,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381,29,Travel_Rarely,Research & Development,7,1,Life Sciences,8792,Female,1,Research Scientist,...,2015-12-31 00:00:00,3.0,4.0,2.0,3,4,NaN,NaN,NaN,NaN
4386,33,Travel_Rarely,Sales,11,4,Marketing,8797,Male,1,Research Scientist,...,2015-12-31 00:00:00,3.0,4.0,1.0,2,4,NaN,NaN,NaN,NaN
4388,33,Travel_Rarely,Sales,1,3,Life Sciences,8799,Male,2,Manager,...,2015-12-31 00:00:00,1.0,1.0,4.0,3,3,NaN,NaN,NaN,NaN
4391,32,Travel_Rarely,Sales,23,1,Life Sciences,8802,Male,3,Healthcare Representative,...,2015-12-31 00:00:00,4.0,3.0,1.0,3,3,NaN,NaN,NaN,NaN
4402,37,Travel_Frequently,Sales,2,3,Marketing,8813,Male,1,Laboratory Technician,...,2015-12-31 00:00:00,1.0,3.0,3.0,3,3,NaN,NaN,NaN,NaN

In [8]:
d2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   int64
 4   Education                4410 non-null   int64
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   int64
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4391 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4401 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  InfoDate                 4410 non-null   object
 21  EnvironmentSatisfaction  4385 non-null   float64
 22  JobSatisfaction          4390 non-null   float64
 23  WorkLifeBalance          4372 non-null   float64
 24  JobInvolvement           4410 non-null   int64
 25  PerformanceRating        4410 non-null   int64
 26  Attrition                650 non-null    object
 27  retirementDate           650 non-null    object
 28  retirementType           650 non-null    object
 29  resignationReason        585 non-null    object
dtypes: float64(5), int64(14), object(11)
memory usage: 1.0+ MB

In [9]:
# Duplicados
display(d2015[d2015.duplicated(keep='last')])
display(d2015[d2015.duplicated(keep='first')])

Empty DataFrame
Columns: [Age, BusinessTravel, Department, DistanceFromHome, Education, EducationField, EmployeeID, Gender, JobLevel, JobRole, MaritalStatus, MonthlyIncome, NumCompaniesWorked, PercentSalaryHike, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, YearsAtCompany, YearsSinceLastPromotion, YearsWithCurrManager, InfoDate, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance, JobInvolvement, PerformanceRating, Attrition, retirementDate, retirementType, resignationReason]
Index: []

[0 rows x 30 columns]

Empty DataFrame
Columns: [Age, BusinessTravel, Department, DistanceFromHome, Education, EducationField, EmployeeID, Gender, JobLevel, JobRole, MaritalStatus, MonthlyIncome, NumCompaniesWorked, PercentSalaryHike, StockOptionLevel, TotalWorkingYears, TrainingTimesLastYear, YearsAtCompany, YearsSinceLastPromotion, YearsWithCurrManager, InfoDate, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance, JobInvolvement, PerformanceRating, Attrition, retirementDate, retirementType, resignationReason]
Index: []

[0 rows x 30 columns]

In [10]:
# Observar los nulos de la base de datos
d2015.isnull().sum()

Age                           0
BusinessTravel                0
Department                    0
DistanceFromHome              0
Education                     0
EducationField                0
EmployeeID                    0
Gender                        0
JobLevel                      0
JobRole                       0
MaritalStatus                 0
MonthlyIncome                 0
NumCompaniesWorked           19
PercentSalaryHike             0
StockOptionLevel              0
TotalWorkingYears             9
TrainingTimesLastYear         0
YearsAtCompany                0
YearsSinceLastPromotion       0
YearsWithCurrManager          0
InfoDate                      0
EnvironmentSatisfaction      25
JobSatisfaction              20
WorkLifeBalance              38
JobInvolvement                0
PerformanceRating             0
Attrition                  3760
retirementDate             3760
retirementType             3760
resignationReason          3825
dtype: int64

In [ ]:
# Cambio de los nulos en la variable respuesta por No
condicion = (d2015['retirementType'] == 'fired') | (pd.isnull(d2015['retirementType']))
d2015.loc[condicion, 'Attrition'] = 'No'

In [ ]:
# Variables que no aportan nada al problema se eliminan
d2015 = d2015.drop(['index', 'EmployeeID', 'InfoDate', 'retirementDate','retirementType','resignationReason'], axis=1)

In [ ]:
#Función para imputar datos nulos

def imp_datos (df, variables):
    for variable in variables:
        # Calcula la moda de la variable
        moda = df[variable].mode()[0]  # Selecciona el primer valor de la moda en caso de que haya múltiples modas
        # Imputa los valores nulos con la moda
        df[variable].fillna(moda, inplace=True)
        # Imprime información sobre los valores nulos imputados
        nulos_imputados = df[variable].isnull().sum()
    # Devuelve el DataFrame modificado
    return df


# imputar datos nulos para NumCompaniesWorked, TotalWorkingYears, EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance
d2015 = imp_datos(d2015, ['NumCompaniesWorked', 'TotalWorkingYears', 'EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance'])

In [ ]:
#observar si ya no quedan nulos
d2015.isnull().sum()

# Exploración variables númericas