<a href="https://colab.research.google.com/github/auramolina/Analitica-en-recursos-humanos/blob/main/giberto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color='0C2054'> **Librerías** </font>

In [85]:
## Conectar el drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [61]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql #### para bases de datos sql

import warnings


warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import silhouette_score, calinski_harabasz_score
!pip install kneed
from kneed import KneeLocator

from scipy.spatial.distance import cdist
from sklearn.cluster import KMeans, DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.decomposition import PCA, FactorAnalysis

!pip install factor_analyzer
from factor_analyzer import FactorAnalyzer

Requirement already satisfied: kneed in /usr/local/lib/python3.10/dist-packages (0.8.5)
Requirement already satisfied: numpy>=1.14.2 in /usr/local/lib/python3.10/dist-packages (from kneed) (1.26.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from kneed) (1.13.1)
Requirement already satisfied: factor_analyzer in /usr/local/lib/python3.10/dist-packages (0.5.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (2.1.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (1.13.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (1.26.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (1.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->factor_analyzer) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->factor_analyzer) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->factor_analyzer) (2024.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->factor_analyzer) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->factor_analyzer) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->factor_analyzer) (1.16.0)

## <font color='0c2054'> **IMPORTACIÓN DE DATOS** </font>

In [41]:
# Lectura de los datos
data_general = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/general_data.csv", delimiter=';')
manager_survey = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/manager_survey.csv", delimiter=';')
retirement_info = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/retirement_info.csv", delimiter=';')
employee_survey = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/employee_survey_data.csv", delimiter=';')

In [42]:
# Configurar la opción para mostrar todas las columnas completas
pd.set_option('display.max_columns', None)

## <font color='0c2054'> **Base de datos 1** </font>
data_general

### <font color='0C2054'> **Selección de características** </font>

In [43]:
data_general.sort_values(by=['EmployeeID'],ascending=1)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,31/12/2015
4410,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,31/12/2016
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,31/12/2015
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,31/12/2015
4412,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,31/12/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8798,33,Travel_Rarely,Sales,1,3,Life Sciences,1,8799,Male,2,Manager,Married,51470,7.0,Y,11,8,0,13.0,2,9,1,7,31/12/2016
8801,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,3,Healthcare Representative,Single,24680,0.0,Y,11,8,0,4.0,2,3,1,2,31/12/2016
4391,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,3,Healthcare Representative,Single,24680,0.0,Y,11,8,0,4.0,2,3,1,2,31/12/2015
8812,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,1,Laboratory Technician,Divorced,40010,6.0,Y,11,8,1,17.0,2,1,0,0,31/12/2016
4402,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,1,Laboratory Technician,Divorced,40010,6.0,Y,11,8,1,17.0,2,1,0,0,31/12/2015

In [44]:
for column in data_general.columns:
    print(f"Frecuencia en la columna: {column}")
    print(data_general[column].value_counts())
    print("\n")

Frecuencia en la columna: Age
Age
35    468
34    462
31    414
36    414
29    408
32    366
30    360
38    348
33    348
40    342
37    300
28    288
27    288
42    276
39    252
45    246
41    240
26    234
46    198
44    198
43    192
50    180
24    156
25    156
49    144
47    144
55    132
48    114
51    114
53    114
52    108
54    108
22     96
58     84
23     84
56     84
21     78
20     66
59     60
19     54
18     48
60     30
57     24
Name: count, dtype: int64


Frecuencia en la columna: BusinessTravel
BusinessTravel
Travel_Rarely        6258
Travel_Frequently    1662
Non-Travel            900
Name: count, dtype: int64


Frecuencia en la columna: Department
Department
Research & Development    5766
Sales                     2676
Human Resources            378
Name: count, dtype: int64


Frecuencia en la columna: DistanceFromHome
DistanceFromHome
2     1266
1     1248
10     516
9      510
3      504
7      504
8      480
5      390
4      384
6      354
16     192
11     174
24     168
23     162
29     162
18     156
15     156
25     150
26     150
20     150
28     138
19     132
14     126
17     120
12     120
22     114
13     114
21     108
27      72
Name: count, dtype: int64


Frecuencia en la columna: Education
Education
3    3432
4    2388
2    1692
1    1020
5     288
Name: count, dtype: int64


Frecuencia en la columna: EducationField
EducationField
Life Sciences       3636
Medical             2784
Marketing            954
Technical Degree     792
Other                492
Human Resources      162
Name: count, dtype: int64


Frecuencia en la columna: EmployeeCount
EmployeeCount
1    8820
Name: count, dtype: int64


Frecuencia en la columna: EmployeeID
EmployeeID
1       2
3259    2
2846    2
2847    2
2848    2
       ..
3514    1
3512    1
3511    1
826     1
8405    1
Name: count, Length: 5060, dtype: int64


Frecuencia en la columna: Gender
Gender
Male      5292
Female    3528
Name: count, dtype: int64


Frecuencia en la columna: JobLevel
JobLevel
1    3258
2    3204
3    1308
4     636
5     414
Name: count, dtype: int64


Frecuencia en la columna: JobRole
JobRole
Sales Executive              1956
Research Scientist           1752
Laboratory Technician        1554
Manufacturing Director        870
Healthcare Representative     786
Manager                       612
Sales Representative          498
Research Director             480
Human Resources               312
Name: count, dtype: int64


Frecuencia en la columna: MaritalStatus
MaritalStatus
Married     4038
Single      2820
Divorced    1962
Name: count, dtype: int64


Frecuencia en la columna: MonthlyIncome
MonthlyIncome
23420     24
61420     18
27410     18
26100     18
23800     18
          ..
120610     6
56740      6
96130      6
69290      6
54680      6
Name: count, Length: 1349, dtype: int64


Frecuencia en la columna: NumCompaniesWorked
NumCompaniesWorked
1.0    3116
0.0    1172
3.0     948
2.0     876
4.0     830
7.0     444
6.0     416
5.0     374
9.0     312
8.0     294
Name: count, dtype: int64


Frecuencia en la columna: Over18
Over18
Y    8820
Name: count, dtype: int64


Frecuencia en la columna: PercentSalaryHike
PercentSalaryHike
11    1260
13    1254
14    1206
12    1188
15     606
18     534
17     492
16     468
19     456
22     336
20     330
21     288
23     168
24     126
25     108
Name: count, dtype: int64


Frecuencia en la columna: StandardHours
StandardHours
8    8820
Name: count, dtype: int64


Frecuencia en la columna: StockOptionLevel
StockOptionLevel
0    3786
1    3576
2     948
3     510
Name: count, dtype: int64


Frecuencia en la columna: TotalWorkingYears
TotalWorkingYears
10.0    1210
6.0      750
8.0      614
9.0      574
5.0      528
7.0      486
1.0      484
4.0      378
12.0     288
3.0      252
15.0     240
16.0     222
13.0     216
11.0     212
21.0     204
17.0     198
14.0     186
2.0      186
20.0     178
18.0     162
23.0     132
19.0     132
22.0     124
24.0     108
25.0      84
26.0      84
28.0      84
0.0       66
29.0      60
31.0      54
32.0      54
27.0      42
30.0      42
33.0      42
36.0      36
34.0      30
37.0      24
35.0      18
40.0      12
38.0       6
Name: count, dtype: int64


Frecuencia en la columna: TrainingTimesLastYear
TrainingTimesLastYear
2    3282
3    2946
4     738
5     714
1     426
6     390
0     324
Name: count, dtype: int64


Frecuencia en la columna: YearsAtCompany
YearsAtCompany
5     1176
1     1026
3      768
2      762
10     720
4      660
7      540
9      492
8      480
6      456
0      264
11     192
20     162
13     144
15     120
14     108
22      90
12      84
21      84
18      78
16      72
19      66
17      54
24      36
33      30
26      24
25      24
31      18
32      18
29      12
27      12
36      12
23      12
34       6
30       6
37       6
40       6
Name: count, dtype: int64


Frecuencia en la columna: YearsSinceLastPromotion
YearsSinceLastPromotion
0     3486
1     2142
2      954
7      456
4      366
3      312
5      270
6      192
11     144
8      108
9      102
15      78
13      60
12      60
14      54
10      36
Name: count, dtype: int64


Frecuencia en la columna: YearsWithCurrManager
YearsWithCurrManager
2     2064
0     1578
7     1296
3      852
8      642
4      588
1      456
9      384
5      186
6      174
10     162
11     132
12     108
13      84
17      42
15      30
14      30
16      12
Name: count, dtype: int64


Frecuencia en la columna: InfoDate
InfoDate
31/12/2015    4410
31/12/2016    4410
Name: count, dtype: int64

En la búsqueda de variables que no aportan información útil, hemos analizado la frecuencia de los datos y hemos identificado que las variables EmployeeCount, Over18 y StandardHours contienen valores que se repiten en todos los registros. Al examinar estos datos, observamos que:

*Over18: El valor en esta columna siempre indica que la persona es mayor de 18 años, lo cual es un requisito para trabajar.

*StandardHours: El valor en esta columna siempre es 8 horas, lo cual es la jornada laboral estándar.

*EmployeeCount: El valor en esta columna es siempre 1, lo que representa el conteo de empleados para cada registro.

Dado que estos valores son constantes y no aportan información adicional sobre la variabilidad de los datos, hemos concluido que estas variables pueden ser descartadas, ya que no tienen utilidad para el análisis.

In [45]:
# Eliminación de variables no significativas
data_general.drop(['EmployeeCount','Over18','StandardHours'], axis=1, inplace=True)

# Tamaño del dataset
data_general.shape

(8820, 21)

In [46]:
# Información general del dataset
data_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8820 non-null   int64
 1   BusinessTravel           8820 non-null   object
 2   Department               8820 non-null   object
 3   DistanceFromHome         8820 non-null   int64
 4   Education                8820 non-null   int64
 5   EducationField           8820 non-null   object
 6   EmployeeID               8820 non-null   int64
 7   Gender                   8820 non-null   object
 8   JobLevel                 8820 non-null   int64
 9   JobRole                  8820 non-null   object
 10  MaritalStatus            8820 non-null   object
 11  MonthlyIncome            8820 non-null   int64
 12  NumCompaniesWorked       8782 non-null   float64
 13  PercentSalaryHike        8820 non-null   int64
 14  StockOptionLevel         8820 non-null   int64
 15  TotalWorkingYears        8802 non-null   float64
 16  TrainingTimesLastYear    8820 non-null   int64
 17  YearsAtCompany           8820 non-null   int64
 18  YearsSinceLastPromotion  8820 non-null   int64
 19  YearsWithCurrManager     8820 non-null   int64
 20  InfoDate                 8820 non-null   object
dtypes: float64(2), int64(12), object(7)
memory usage: 1.4+ MB

In [47]:
# Cambiar el tipo de dato de la variable fecha a formato fecha
data_general['InfoDate'] = pd.to_datetime(data_general['InfoDate'], format='%d/%m/%Y')
data_general['InfoDate']

0      2015-12-31
1      2015-12-31
2      2015-12-31
3      2015-12-31
4      2015-12-31
          ...
8815   2016-12-31
8816   2016-12-31
8817   2016-12-31
8818   2016-12-31
8819   2016-12-31
Name: InfoDate, Length: 8820, dtype: datetime64[ns]

In [48]:
#observar los nulos de la base de datos
data_general.isnull().sum()

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64

In [49]:
# Filtrar los datos para el año 2016
dg2016 = data_general[data_general['InfoDate'].dt.year == 2016]

dg2016.sort_values(by=['EmployeeID'], ascending=1)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
4410,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0,2016-12-31
4412,32,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3,2016-12-31
4413,38,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5,2016-12-31
4414,32,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4,2016-12-31
4415,46,Travel_Rarely,Research & Development,8,3,Life Sciences,6,Female,4,Research Director,Married,40710,3.0,13,0,28.0,5,7,7,7,2016-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8791,29,Travel_Rarely,Research & Development,7,1,Life Sciences,8792,Female,1,Research Scientist,Single,21800,1.0,21,0,4.0,2,4,0,1,2016-12-31
8796,33,Travel_Rarely,Sales,11,4,Marketing,8797,Male,1,Research Scientist,Married,71400,5.0,21,0,8.0,2,5,0,4,2016-12-31
8798,33,Travel_Rarely,Sales,1,3,Life Sciences,8799,Male,2,Manager,Married,51470,7.0,11,0,13.0,2,9,1,7,2016-12-31
8801,32,Travel_Rarely,Sales,23,1,Life Sciences,8802,Male,3,Healthcare Representative,Single,24680,0.0,11,0,4.0,2,3,1,2,2016-12-31
8812,37,Travel_Frequently,Sales,2,3,Marketing,8813,Male,1,Laboratory Technician,Divorced,40010,6.0,11,1,17.0,2,1,0,0,2016-12-31

Se observan nulos en las variables "NumCompaniesWorked" y "TotalWorkingYears", ya que son variables que pueden brindar información sobre la otra se observaran las entradas que cuentan con nulos en cada una de las variables y despues se decidira como se imputaran los datos.

In [50]:
#data_general[data_general['NumCompaniesWorked'].isnull()]

In [51]:
#data_general[data_general['TotalWorkingYears'].isnull()]

Al observar que existen entradas que cuentan con bastantes años de experiencia y son menores a los años que llevan trabajando en la empresa se dicidio que para la variable "NumCompaniesWorked" se imputaran los nulos utilizando la mediana de la variable pues no se puede asumir que solo han trabajado en una compañía.

Para la variable "TotalWorkingYears" se observo que algunas entradas dicen haber trabajado en varias empresas y llevar varios años en la empresa en la que trabajan, por lo que no se puede asumir que no cuentan con experiencia, por lo cual se decide imputar los datos con la mediana para que no se vea afectado por valores extremos.

In [52]:
## Imputar datos

#data_general['NumCompaniesWorked'].fillna(data_general['NumCompaniesWorked'].median(), inplace=True)
#data_general['TotalWorkingYears'].fillna(data_general['TotalWorkingYears'].median(), inplace=True)

#data_general.isnull().sum()

## <font color='0c2054'> **base de datos 2** </font>

### <font color='0C2054'> **Selección de características** </font>

In [53]:
manager_survey.columns

Index(['EmployeeID', 'JobInvolvement', 'PerformanceRating', 'SurveyDate'], dtype='object')

In [54]:
#Lectura de datos
manager_survey.sort_values(by=['EmployeeID'], ascending=1)

      EmployeeID  JobInvolvement  PerformanceRating  SurveyDate
0              1               3                  3  31/12/2015
4410           1               3                  3  31/12/2016
1              2               2                  4  31/12/2015
2              3               3                  3  31/12/2015
4412           3               3                  3  31/12/2016
...          ...             ...                ...         ...
8798        8799               3                  3  31/12/2016
8801        8802               3                  3  31/12/2016
4391        8802               3                  3  31/12/2015
8812        8813               3                  3  31/12/2016
4402        8813               3                  3  31/12/2015

[8820 rows x 4 columns]

In [55]:
# Información general del dataset
manager_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         8820 non-null   int64
 1   JobInvolvement     8820 non-null   int64
 2   PerformanceRating  8820 non-null   int64
 3   SurveyDate         8820 non-null   object
dtypes: int64(3), object(1)
memory usage: 275.8+ KB

In [56]:
#observar los nulos de la base de datos
manager_survey.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
SurveyDate           0
dtype: int64

In [58]:
# Convertir la columna 'infoDate' a tipo datetime
manager_survey['SurveyDate'] = pd.to_datetime(manager_survey['SurveyDate'])

In [60]:
# Filtrar los datos para el año 2015
manager_survey_2015 = manager_survey[manager_survey['SurveyDate'].dt.year == 2015]

manager_survey_2015.sort_values(by=['EmployeeID'], ascending=1)

      EmployeeID  JobInvolvement  PerformanceRating SurveyDate
0              1               3                  3 2015-12-31
1              2               2                  4 2015-12-31
2              3               3                  3 2015-12-31
3              4               2                  3 2015-12-31
4              5               3                  3 2015-12-31
...          ...             ...                ...        ...
4381        8792               3                  4 2015-12-31
4386        8797               2                  4 2015-12-31
4388        8799               3                  3 2015-12-31
4391        8802               3                  3 2015-12-31
4402        8813               3                  3 2015-12-31

[4410 rows x 4 columns]

In [62]:
# Filtrar los datos para el año 2016
ms2016 = manager_survey[manager_survey['SurveyDate'].dt.year == 2016]

ms2016.sort_values(by=['EmployeeID'], ascending=1)

      EmployeeID  JobInvolvement  PerformanceRating SurveyDate
4410           1               3                  3 2016-12-31
4412           3               3                  3 2016-12-31
4413           4               2                  3 2016-12-31
4414           5               3                  3 2016-12-31
4415           6               3                  3 2016-12-31
...          ...             ...                ...        ...
8791        8792               3                  4 2016-12-31
8796        8797               2                  4 2016-12-31
8798        8799               3                  3 2016-12-31
8801        8802               3                  3 2016-12-31
8812        8813               3                  3 2016-12-31

[4410 rows x 4 columns]

## <font color='0c2054'> **base de datos 3** </font>

### <font color='0c2054'> **SELECCIÓN DE CARACTERÍSTICAS** </font>

In [63]:
print(retirement_info.columns)

Index(['EmployeeID', 'Attrition', 'retirementDate', 'retirementType',
       'resignationReason'],
      dtype='object')

In [64]:
#Lectura de datos
retirement_info.sort_values(by=['EmployeeID'],ascending=1)

     EmployeeID Attrition retirementDate retirementType resignationReason
0             2       Yes     15/10/2016    Resignation            Others
1             7       Yes     20/07/2016    Resignation            Stress
2            14       Yes      8/11/2016    Resignation            Others
3            29       Yes     15/10/2016    Resignation            Others
4            31       Yes      8/02/2016    Resignation            Salary
..          ...       ...            ...            ...               ...
706        4382       Yes     18/04/2015    Resignation            Salary
707        4387       Yes     16/09/2015    Resignation            Others
708        4389       Yes     24/05/2015    Resignation            Others
709        4392       Yes     26/02/2015          Fired               NaN
710        4403       Yes     26/01/2015    Resignation            Stress

[711 rows x 5 columns]

In [65]:
# Información general del dataset
retirement_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         711 non-null    int64
 1   Attrition          711 non-null    object
 2   retirementDate     711 non-null    object
 3   retirementType     711 non-null    object
 4   resignationReason  641 non-null    object
dtypes: int64(1), object(4)
memory usage: 27.9+ KB

In [66]:
#observar los nulos de la base de datos
retirement_info.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

se le pregunta al profesor que se hace con esos datos

In [67]:
retirement_info['retirementDate'] = pd.to_datetime(retirement_info['retirementDate'])

# Filtrar los datos para el año 2016 y el tipo de retiro 'Resignation'
retirement_info_2016 = retirement_info[
    (retirement_info['retirementDate'].dt.year == 2016) &
    (retirement_info['retirementType'] == "Resignation")
]

#Lectura de datos
retirement_info_2016.sort_values(by=['EmployeeID'],ascending=1)

     EmployeeID Attrition retirementDate retirementType resignationReason
0             2       Yes     2016-10-15    Resignation            Others
1             7       Yes     2016-07-20    Resignation            Stress
2            14       Yes     2016-11-08    Resignation            Others
3            29       Yes     2016-10-15    Resignation            Others
4            31       Yes     2016-02-08    Resignation            Salary
..          ...       ...            ...            ...               ...
645        3973       Yes     2016-11-11    Resignation            Others
646        3974       Yes     2016-04-14    Resignation            Others
647        3980       Yes     2016-07-13    Resignation            Others
648        3981       Yes     2016-02-18    Resignation            Others
649        3995       Yes     2016-03-05    Resignation            Others

[585 rows x 5 columns]

In [68]:
#observar los nulos de la base de datos
retirement_info.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

## <font color='0c2054'> **base de datos 4** </font>

### <font color='0c2054'> **SELECCIÓN DE CARACTERÍSTICAS** </font>

In [69]:
print(employee_survey.columns)

Index(['EmployeeID', 'EnvironmentSatisfaction', 'JobSatisfaction',
       'WorkLifeBalance', 'DateSurvey'],
      dtype='object')

In [70]:
#Lectura de datos
employee_survey.sort_values(by=['EmployeeID'],ascending=1)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,31/12/2015
4410,1,3.0,4.0,2.0,31/12/2016
1,2,3.0,2.0,4.0,31/12/2015
2,3,2.0,2.0,1.0,31/12/2015
4412,3,2.0,2.0,1.0,31/12/2016
...,...,...,...,...,...
8798,8799,1.0,1.0,4.0,31/12/2016
8801,8802,4.0,3.0,1.0,31/12/2016
4391,8802,4.0,3.0,1.0,31/12/2015
8812,8813,1.0,3.0,3.0,31/12/2016
4402,8813,1.0,3.0,3.0,31/12/2015

In [71]:
# Información general del dataset
employee_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               8820 non-null   int64
 1   EnvironmentSatisfaction  8770 non-null   float64
 2   JobSatisfaction          8780 non-null   float64
 3   WorkLifeBalance          8744 non-null   float64
 4   DateSurvey               8820 non-null   object
dtypes: float64(3), int64(1), object(1)
memory usage: 344.7+ KB

In [72]:
#observar los nulos de la base de datos
employee_survey.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

In [73]:
employee_survey['DateSurvey'] = pd.to_datetime(employee_survey['DateSurvey'], format='%d/%m/%Y')
employee_survey['DateSurvey']

0      2015-12-31
1      2015-12-31
2      2015-12-31
3      2015-12-31
4      2015-12-31
          ...
8815   2016-12-31
8816   2016-12-31
8817   2016-12-31
8818   2016-12-31
8819   2016-12-31
Name: DateSurvey, Length: 8820, dtype: datetime64[ns]

In [74]:
# Filtrar los datos para el año 2015
es2016 = employee_survey[employee_survey['DateSurvey'].dt.year == 2016]

es2016.sort_values(by=['EmployeeID'], ascending=1)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
4410,1,3.0,4.0,2.0,2016-12-31
4412,3,2.0,2.0,1.0,2016-12-31
4413,4,4.0,4.0,3.0,2016-12-31
4414,5,4.0,1.0,3.0,2016-12-31
4415,6,3.0,2.0,2.0,2016-12-31
...,...,...,...,...,...
8791,8792,3.0,4.0,2.0,2016-12-31
8796,8797,3.0,4.0,1.0,2016-12-31
8798,8799,1.0,1.0,4.0,2016-12-31
8801,8802,4.0,3.0,1.0,2016-12-31
8812,8813,1.0,3.0,3.0,2016-12-31

## <font color='0c2054'> **base de datos completa** </font>

Base de datos 2016

In [89]:
#### crear base de datos para manejo de datos ####
conn = sql.connect("/content/drive/MyDrive/Analítica III/AA/Analitica-en-recursos-humanos/Datos/bd_empleados.csv") ### crea una base de datos con el nombre dentro de comillas, si existe crea una conexión.
cur=conn.cursor() ### ejecutar funciones  en BD

In [90]:
#llamar bases de datos
data_general = pd.read_sql('SELECT * FROM data_general', con=conn)
employee_survey = pd.read_sql('SELECT * FROM employee_survey', con=conn)
manager_survey = pd.read_sql('SELECT * FROM manager_survey', con=conn)
retirement_info = pd.read_sql('SELECT * FROM retirement_info', con=conn)

DatabaseError: Execution failed on sql 'SELECT * FROM data_general': no such table: data_general