<a href="https://colab.research.google.com/github/auramolina/Analitica-en-recursos-humanos/blob/main/giberto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color='0C2054'> **Librerías** </font>

In [125]:
## Conectar el drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [126]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sql #### para bases de datos sql

import warnings


warnings.filterwarnings("ignore")

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import silhouette_score, calinski_harabasz_score
!pip install kneed
from kneed import KneeLocator

from scipy.spatial.distance import cdist
from sklearn.cluster import KMeans, DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.decomposition import PCA, FactorAnalysis

!pip install factor_analyzer
from factor_analyzer import FactorAnalyzer

Requirement already satisfied: kneed in /usr/local/lib/python3.10/dist-packages (0.8.5)
Requirement already satisfied: numpy>=1.14.2 in /usr/local/lib/python3.10/dist-packages (from kneed) (1.26.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from kneed) (1.13.1)
Requirement already satisfied: factor_analyzer in /usr/local/lib/python3.10/dist-packages (0.5.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (2.1.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (1.13.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (1.26.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (from factor_analyzer) (1.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->factor_analyzer) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->factor_analyzer) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->factor_analyzer) (2024.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->factor_analyzer) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn->factor_analyzer) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->factor_analyzer) (1.16.0)

## <font color='0c2054'> **IMPORTACIÓN DE DATOS** </font>

In [127]:
# Lectura de los datos
data_general = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/Datos/general_data.csv", delimiter=';')
manager_survey = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/Datos/manager_survey.csv", delimiter=';')
retirement_info = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/Datos/retirement_info.csv", delimiter=';')
employee_survey = pd.read_csv("https://raw.githubusercontent.com/auramolina/Analitica-en-recursos-humanos/main/Datos/employee_survey_data.csv", delimiter=';')

## <font color='0c2054'> **Base de datos 1 - data_general** </font>

### <font color='0C2054'> **Selección de características** </font>

In [128]:
data_general.sort_values(by=['EmployeeID'],ascending=1)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,31/12/2015
4410,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,Healthcare Representative,Married,131160,1.0,Y,11,8,0,1.0,6,1,0,0,31/12/2016
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,Research Scientist,Single,41890,0.0,Y,23,8,1,6.0,3,5,1,4,31/12/2015
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,31/12/2015
4412,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,Sales Executive,Married,193280,1.0,Y,15,8,3,5.0,2,5,0,3,31/12/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8798,33,Travel_Rarely,Sales,1,3,Life Sciences,1,8799,Male,2,Manager,Married,51470,7.0,Y,11,8,0,13.0,2,9,1,7,31/12/2016
8801,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,3,Healthcare Representative,Single,24680,0.0,Y,11,8,0,4.0,2,3,1,2,31/12/2016
4391,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,3,Healthcare Representative,Single,24680,0.0,Y,11,8,0,4.0,2,3,1,2,31/12/2015
8812,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,1,Laboratory Technician,Divorced,40010,6.0,Y,11,8,1,17.0,2,1,0,0,31/12/2016
4402,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,1,Laboratory Technician,Divorced,40010,6.0,Y,11,8,1,17.0,2,1,0,0,31/12/2015

In [129]:
## Frecuencia de la base de datos
for column in data_general.columns:
    print(f"Frecuencia en la columna: {column}")
    print(data_general[column].value_counts())
    print("\n")

Frecuencia en la columna: Age
Age
35    468
34    462
31    414
36    414
29    408
32    366
30    360
38    348
33    348
40    342
37    300
28    288
27    288
42    276
39    252
45    246
41    240
26    234
46    198
44    198
43    192
50    180
24    156
25    156
49    144
47    144
55    132
48    114
51    114
53    114
52    108
54    108
22     96
58     84
23     84
56     84
21     78
20     66
59     60
19     54
18     48
60     30
57     24
Name: count, dtype: int64


Frecuencia en la columna: BusinessTravel
BusinessTravel
Travel_Rarely        6258
Travel_Frequently    1662
Non-Travel            900
Name: count, dtype: int64


Frecuencia en la columna: Department
Department
Research & Development    5766
Sales                     2676
Human Resources            378
Name: count, dtype: int64


Frecuencia en la columna: DistanceFromHome
DistanceFromHome
2     1266
1     1248
10     516
9      510
3      504
7      504
8      480
5      390
4      384
6      354
16     192
11     174
24     168
23     162
29     162
18     156
15     156
25     150
26     150
20     150
28     138
19     132
14     126
17     120
12     120
22     114
13     114
21     108
27      72
Name: count, dtype: int64


Frecuencia en la columna: Education
Education
3    3432
4    2388
2    1692
1    1020
5     288
Name: count, dtype: int64


Frecuencia en la columna: EducationField
EducationField
Life Sciences       3636
Medical             2784
Marketing            954
Technical Degree     792
Other                492
Human Resources      162
Name: count, dtype: int64


Frecuencia en la columna: EmployeeCount
EmployeeCount
1    8820
Name: count, dtype: int64


Frecuencia en la columna: EmployeeID
EmployeeID
1       2
3259    2
2846    2
2847    2
2848    2
       ..
3514    1
3512    1
3511    1
826     1
8405    1
Name: count, Length: 5060, dtype: int64


Frecuencia en la columna: Gender
Gender
Male      5292
Female    3528
Name: count, dtype: int64


Frecuencia en la columna: JobLevel
JobLevel
1    3258
2    3204
3    1308
4     636
5     414
Name: count, dtype: int64


Frecuencia en la columna: JobRole
JobRole
Sales Executive              1956
Research Scientist           1752
Laboratory Technician        1554
Manufacturing Director        870
Healthcare Representative     786
Manager                       612
Sales Representative          498
Research Director             480
Human Resources               312
Name: count, dtype: int64


Frecuencia en la columna: MaritalStatus
MaritalStatus
Married     4038
Single      2820
Divorced    1962
Name: count, dtype: int64


Frecuencia en la columna: MonthlyIncome
MonthlyIncome
23420     24
61420     18
27410     18
26100     18
23800     18
          ..
120610     6
56740      6
96130      6
69290      6
54680      6
Name: count, Length: 1349, dtype: int64


Frecuencia en la columna: NumCompaniesWorked
NumCompaniesWorked
1.0    3116
0.0    1172
3.0     948
2.0     876
4.0     830
7.0     444
6.0     416
5.0     374
9.0     312
8.0     294
Name: count, dtype: int64


Frecuencia en la columna: Over18
Over18
Y    8820
Name: count, dtype: int64


Frecuencia en la columna: PercentSalaryHike
PercentSalaryHike
11    1260
13    1254
14    1206
12    1188
15     606
18     534
17     492
16     468
19     456
22     336
20     330
21     288
23     168
24     126
25     108
Name: count, dtype: int64


Frecuencia en la columna: StandardHours
StandardHours
8    8820
Name: count, dtype: int64


Frecuencia en la columna: StockOptionLevel
StockOptionLevel
0    3786
1    3576
2     948
3     510
Name: count, dtype: int64


Frecuencia en la columna: TotalWorkingYears
TotalWorkingYears
10.0    1210
6.0      750
8.0      614
9.0      574
5.0      528
7.0      486
1.0      484
4.0      378
12.0     288
3.0      252
15.0     240
16.0     222
13.0     216
11.0     212
21.0     204
17.0     198
14.0     186
2.0      186
20.0     178
18.0     162
23.0     132
19.0     132
22.0     124
24.0     108
25.0      84
26.0      84
28.0      84
0.0       66
29.0      60
31.0      54
32.0      54
27.0      42
30.0      42
33.0      42
36.0      36
34.0      30
37.0      24
35.0      18
40.0      12
38.0       6
Name: count, dtype: int64


Frecuencia en la columna: TrainingTimesLastYear
TrainingTimesLastYear
2    3282
3    2946
4     738
5     714
1     426
6     390
0     324
Name: count, dtype: int64


Frecuencia en la columna: YearsAtCompany
YearsAtCompany
5     1176
1     1026
3      768
2      762
10     720
4      660
7      540
9      492
8      480
6      456
0      264
11     192
20     162
13     144
15     120
14     108
22      90
12      84
21      84
18      78
16      72
19      66
17      54
24      36
33      30
26      24
25      24
31      18
32      18
29      12
27      12
36      12
23      12
34       6
30       6
37       6
40       6
Name: count, dtype: int64


Frecuencia en la columna: YearsSinceLastPromotion
YearsSinceLastPromotion
0     3486
1     2142
2      954
7      456
4      366
3      312
5      270
6      192
11     144
8      108
9      102
15      78
13      60
12      60
14      54
10      36
Name: count, dtype: int64


Frecuencia en la columna: YearsWithCurrManager
YearsWithCurrManager
2     2064
0     1578
7     1296
3      852
8      642
4      588
1      456
9      384
5      186
6      174
10     162
11     132
12     108
13      84
17      42
15      30
14      30
16      12
Name: count, dtype: int64


Frecuencia en la columna: InfoDate
InfoDate
31/12/2015    4410
31/12/2016    4410
Name: count, dtype: int64

En la búsqueda de variables que no aportan información útil, hemos analizado la frecuencia de los datos y hemos identificado que las variables EmployeeCount, Over18 y StandardHours contienen valores que se repiten en todos los registros. Al examinar estos datos, observamos que:

*Over18: El valor en esta columna siempre indica que la persona es mayor de 18 años, lo cual es un requisito para trabajar.

*StandardHours: El valor en esta columna siempre es 8 horas, lo cual es la jornada laboral estándar.

*EmployeeCount: El valor en esta columna es siempre 1, lo que representa el conteo de empleados para cada registro.

Dado que estos valores son constantes y no aportan información adicional sobre la variabilidad de los datos, hemos concluido que estas variables pueden ser descartadas, ya que no tienen utilidad para el análisis.

In [130]:
# Eliminación de variables no significativas
data_general.drop(['EmployeeCount','Over18','StandardHours'], axis=1, inplace=True)

# Tamaño del dataset
data_general.shape

(8820, 21)

In [131]:
# Información general del dataset
data_general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      8820 non-null   int64
 1   BusinessTravel           8820 non-null   object
 2   Department               8820 non-null   object
 3   DistanceFromHome         8820 non-null   int64
 4   Education                8820 non-null   int64
 5   EducationField           8820 non-null   object
 6   EmployeeID               8820 non-null   int64
 7   Gender                   8820 non-null   object
 8   JobLevel                 8820 non-null   int64
 9   JobRole                  8820 non-null   object
 10  MaritalStatus            8820 non-null   object
 11  MonthlyIncome            8820 non-null   int64
 12  NumCompaniesWorked       8782 non-null   float64
 13  PercentSalaryHike        8820 non-null   int64
 14  StockOptionLevel         8820 non-null   int64
 15  TotalWorkingYears        8802 non-null   float64
 16  TrainingTimesLastYear    8820 non-null   int64
 17  YearsAtCompany           8820 non-null   int64
 18  YearsSinceLastPromotion  8820 non-null   int64
 19  YearsWithCurrManager     8820 non-null   int64
 20  InfoDate                 8820 non-null   object
dtypes: float64(2), int64(12), object(7)
memory usage: 1.4+ MB

In [132]:
# Cambiar el tipo de dato de la variable fecha a formato fecha
data_general['InfoDate'] = pd.to_datetime(data_general['InfoDate'], format='%d/%m/%Y')
data_general['InfoDate']

0      2015-12-31
1      2015-12-31
2      2015-12-31
3      2015-12-31
4      2015-12-31
          ...
8815   2016-12-31
8816   2016-12-31
8817   2016-12-31
8818   2016-12-31
8819   2016-12-31
Name: InfoDate, Length: 8820, dtype: datetime64[ns]

In [133]:
#observar los nulos de la base de datos
data_general.isnull().sum()

Age                         0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         38
PercentSalaryHike           0
StockOptionLevel            0
TotalWorkingYears          18
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
InfoDate                    0
dtype: int64

Al observar los nulos nos damo scuneta que no son significativos en contraste con la cantidad de datos de la base, por lo cual no se realiza imputación de datos y más adelante se evaluaran de nuevo

## <font color='0c2054'> **Base de datos 2 - manger_survery** </font>

### <font color='0C2054'> **Selección de características** </font>

In [134]:
manager_survey.columns

Index(['EmployeeID', 'JobInvolvement', 'PerformanceRating', 'SurveyDate'], dtype='object')

In [135]:
#Lectura de datos
manager_survey.sort_values(by=['EmployeeID'], ascending=1)

      EmployeeID  JobInvolvement  PerformanceRating  SurveyDate
0              1               3                  3  31/12/2015
4410           1               3                  3  31/12/2016
1              2               2                  4  31/12/2015
2              3               3                  3  31/12/2015
4412           3               3                  3  31/12/2016
...          ...             ...                ...         ...
8798        8799               3                  3  31/12/2016
8801        8802               3                  3  31/12/2016
4391        8802               3                  3  31/12/2015
8812        8813               3                  3  31/12/2016
4402        8813               3                  3  31/12/2015

[8820 rows x 4 columns]

In [136]:
# Información general del dataset
manager_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         8820 non-null   int64
 1   JobInvolvement     8820 non-null   int64
 2   PerformanceRating  8820 non-null   int64
 3   SurveyDate         8820 non-null   object
dtypes: int64(3), object(1)
memory usage: 275.8+ KB

In [137]:
#observar los nulos de la base de datos
manager_survey.isnull().sum()

EmployeeID           0
JobInvolvement       0
PerformanceRating    0
SurveyDate           0
dtype: int64

La base de dtaos no tiene nulos.

In [138]:
# Convertir la columna 'infoDate' a tipo datetime
manager_survey['SurveyDate'] = pd.to_datetime(manager_survey['SurveyDate'])

## <font color='0c2054'> **Base de datos 3 - retirement_info** </font>

### <font color='0c2054'> **SELECCIÓN DE CARACTERÍSTICAS** </font>

In [139]:
print(retirement_info.columns)

Index(['EmployeeID', 'Attrition', 'retirementDate', 'retirementType',
       'resignationReason'],
      dtype='object')

In [140]:
#Lectura de datos
retirement_info.sort_values(by=['EmployeeID'],ascending=1)

     EmployeeID Attrition retirementDate retirementType resignationReason
0             2       Yes     15/10/2016    Resignation            Others
1             7       Yes     20/07/2016    Resignation            Stress
2            14       Yes      8/11/2016    Resignation            Others
3            29       Yes     15/10/2016    Resignation            Others
4            31       Yes      8/02/2016    Resignation            Salary
..          ...       ...            ...            ...               ...
706        4382       Yes     18/04/2015    Resignation            Salary
707        4387       Yes     16/09/2015    Resignation            Others
708        4389       Yes     24/05/2015    Resignation            Others
709        4392       Yes     26/02/2015          Fired               NaN
710        4403       Yes     26/01/2015    Resignation            Stress

[711 rows x 5 columns]

In [141]:
# Información general del dataset
retirement_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         711 non-null    int64
 1   Attrition          711 non-null    object
 2   retirementDate     711 non-null    object
 3   retirementType     711 non-null    object
 4   resignationReason  641 non-null    object
dtypes: int64(1), object(4)
memory usage: 27.9+ KB

In [142]:
## Frecuencia de la base de datos
for column in retirement_info.columns:
    print(f"Frecuencia en la columna: {column}")
    print(retirement_info[column].value_counts())
    print("\n")

Frecuencia en la columna: EmployeeID
EmployeeID
2       1
2734    1
2912    1
2917    1
2919    1
       ..
1484    1
1499    1
1501    1
1506    1
4403    1
Name: count, Length: 711, dtype: int64


Frecuencia en la columna: Attrition
Attrition
Yes    711
Name: count, dtype: int64


Frecuencia en la columna: retirementDate
retirementDate
4/09/2016     6
23/06/2016    6
28/01/2016    6
20/10/2016    5
22/02/2016    5
             ..
1/12/2016     1
28/04/2016    1
15/09/2016    1
24/05/2016    1
26/01/2015    1
Name: count, Length: 361, dtype: int64


Frecuencia en la columna: retirementType
retirementType
Resignation    641
Fired           70
Name: count, dtype: int64


Frecuencia en la columna: resignationReason
resignationReason
Others    323
Salary    189
Stress    129
Name: count, dtype: int64

In [143]:
#observar los nulos de la base de datos
retirement_info.isnull().sum()

EmployeeID            0
Attrition             0
retirementDate        0
retirementType        0
resignationReason    70
dtype: int64

Los datos nulos en la variable 'resignationReason' corresponden a los empleados que fueron despedidos, por lo cual no tienen una razón de retiro, por lo mismo los datos no se imputan.

In [144]:
## Se realiza el cambio de formato de las fechas
retirement_info['retirementDate'] = pd.to_datetime(retirement_info['retirementDate'])

In [145]:
retirement_info

     EmployeeID Attrition retirementDate retirementType resignationReason
0             2       Yes     2016-10-15    Resignation            Others
1             7       Yes     2016-07-20    Resignation            Stress
2            14       Yes     2016-11-08    Resignation            Others
3            29       Yes     2016-10-15    Resignation            Others
4            31       Yes     2016-02-08    Resignation            Salary
..          ...       ...            ...            ...               ...
706        4382       Yes     2015-04-18    Resignation            Salary
707        4387       Yes     2015-09-16    Resignation            Others
708        4389       Yes     2015-05-24    Resignation            Others
709        4392       Yes     2015-02-26          Fired               NaN
710        4403       Yes     2015-01-26    Resignation            Stress

[711 rows x 5 columns]

## <font color='0c2054'> **Base de datos 4 - employee-survey** </font>

### <font color='0c2054'> **SELECCIÓN DE CARACTERÍSTICAS** </font>

In [146]:
print(employee_survey.columns)

Index(['EmployeeID', 'EnvironmentSatisfaction', 'JobSatisfaction',
       'WorkLifeBalance', 'DateSurvey'],
      dtype='object')

In [147]:
#Lectura de datos
employee_survey.sort_values(by=['EmployeeID'],ascending=1)

,EmployeeID,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,DateSurvey
0,1,3.0,4.0,2.0,31/12/2015
4410,1,3.0,4.0,2.0,31/12/2016
1,2,3.0,2.0,4.0,31/12/2015
2,3,2.0,2.0,1.0,31/12/2015
4412,3,2.0,2.0,1.0,31/12/2016
...,...,...,...,...,...
8798,8799,1.0,1.0,4.0,31/12/2016
8801,8802,4.0,3.0,1.0,31/12/2016
4391,8802,4.0,3.0,1.0,31/12/2015
8812,8813,1.0,3.0,3.0,31/12/2016
4402,8813,1.0,3.0,3.0,31/12/2015

In [148]:
# Información general del dataset
employee_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               8820 non-null   int64
 1   EnvironmentSatisfaction  8770 non-null   float64
 2   JobSatisfaction          8780 non-null   float64
 3   WorkLifeBalance          8744 non-null   float64
 4   DateSurvey               8820 non-null   object
dtypes: float64(3), int64(1), object(1)
memory usage: 344.7+ KB

In [149]:
#observar los nulos de la base de datos
employee_survey.isnull().sum()

EmployeeID                  0
EnvironmentSatisfaction    50
JobSatisfaction            40
WorkLifeBalance            76
DateSurvey                  0
dtype: int64

In [150]:
## Cambio del formato de fecha
employee_survey['DateSurvey'] = pd.to_datetime(employee_survey['DateSurvey'], format='%d/%m/%Y')
employee_survey['DateSurvey']

0      2015-12-31
1      2015-12-31
2      2015-12-31
3      2015-12-31
4      2015-12-31
          ...
8815   2016-12-31
8816   2016-12-31
8817   2016-12-31
8818   2016-12-31
8819   2016-12-31
Name: DateSurvey, Length: 8820, dtype: datetime64[ns]

# <font color='0c2054'> **Bases de datos 2015 y 2016** </font>

La unión de las bases de datos y posterior división según los años se realizara con SQL

In [151]:
## crear base de datos para unir las bases
conn = sql.connect("/content/drive/MyDrive/Analítica III/AA/Analitica-en-recursos-humanos/Datos/bd_emp.csv") ## crea una base de datos nueva donde se van a almacenar las otras.
cur=conn.cursor()

In [152]:
data_general.to_sql('general_data', conn, if_exists='replace', index=False)
employee_survey.to_sql('employee_survey', conn, if_exists='replace', index=False)
manager_survey.to_sql('manager_survey', conn, if_exists='replace', index=False)
retirement_info.to_sql('retirement_info', conn, if_exists='replace', index=False)

711

In [153]:
#llamar bases de datos
data_general = pd.read_sql('SELECT * FROM general_data', con=conn)
employee_survey = pd.read_sql('SELECT * FROM employee_survey', con=conn)
manager_survey = pd.read_sql('SELECT * FROM manager_survey', con=conn)
retirement_info = pd.read_sql('SELECT * FROM retirement_info', con=conn)

In [154]:
#Cerrar la conección
conn.commit()
conn.close()

Con la consulta SQL se uniran las tablas creadas a partir de las bases de datos, y se obtendran nuevas tablas correspondientes a 2015 y 2016

In [155]:
# Volver a conectar a la base de datos
conn = sql.connect("/content/drive/MyDrive/Analítica III/AA/Analitica-en-recursos-humanos/Datos/bd_emp.csv")
cur = conn.cursor()

# Definir la consulta SQL para unir las tablas y crear las nuevas tablas
consulta_sql = """
CREATE TABLE IF NOT EXISTS data_final AS
SELECT gd.*,
  es.EnvironmentSatisfaction, es.JobSatisfaction, es.WorkLifeBalance,
  ms.JobInvolvement, ms.PerformanceRating,
  ri.Attrition, ri.retirementDate, ri.retirementType, ri.resignationReason
FROM general_data AS gd
LEFT JOIN employee_survey AS es
ON gd.EmployeeID = es.EmployeeID AND strftime('%Y', gd.InfoDate) = strftime('%Y', es.DateSurvey)
LEFT JOIN manager_survey AS ms
ON gd.EmployeeID = ms.EmployeeID AND strftime('%Y', gd.InfoDate) = strftime('%Y', ms.SurveyDate)
LEFT JOIN (
  SELECT *
  FROM retirement_info
  WHERE strftime('%Y', retirementDate) = '2016'
) AS ri
ON gd.EmployeeID = ri.EmployeeID AND strftime('%Y', gd.InfoDate) = '2015';

CREATE TABLE IF NOT EXISTS datos_2015 AS
SELECT *
FROM data_final
WHERE strftime('%Y', InfoDate) = '2015'
AND (strftime('%Y', retirementDate) = '2016' OR retirementDate IS NULL);

CREATE TABLE IF NOT EXISTS datos_2016 AS
SELECT * ,
       NULL AS Attrition,
       NULL AS retirementDate,
       NULL AS retirementType,
       NULL AS resignationReason
FROM data_final
WHERE strftime('%Y', InfoDate) = '2016';
"""
cur.executescript(consulta_sql)

# Confirmar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [164]:
# Conectar nuevamente para cargar los datos en DataFrames
conn = sql.connect("/content/drive/MyDrive/Analítica III/AA/Analitica-en-recursos-humanos/Datos/bd_emp.csv")

d2015 = pd.read_sql("SELECT * FROM datos_2015", conn)
d2016 = pd.read_sql("SELECT * FROM datos_2016", conn)

# Cerrar la conexión a la base de datos
conn.close()

## 2015

## 2016

In [167]:
d2016

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,Attrition,retirementDate,retirementType,resignationReason,Attrition:1,retirementDate:1,retirementType:1,resignationReason:1
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0,2016-12-31 00:00:00,3.0,4.0,2.0,3,3,None,None,None,None,None,None,None,None
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,4412,Female,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4,2016-12-31 00:00:00,3.0,2.0,4.0,2,4,None,None,None,None,None,None,None,None
2,32,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3,2016-12-31 00:00:00,2.0,2.0,1.0,3,3,None,None,None,None,None,None,None,None
3,38,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5,2016-12-31 00:00:00,4.0,4.0,3.0,2,3,None,None,None,None,None,None,None,None
4,32,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4,2016-12-31 00:00:00,4.0,1.0,3.0,3,3,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,Travel_Rarely,Research & Development,5,4,Medical,4406,Female,1,Research Scientist,Single,60290,3.0,17,1,10.0,5,3,0,2,2016-12-31 00:00:00,4.0,1.0,3.0,3,3,None,None,None,None,None,None,None,None
4406,29,Travel_Rarely,Research & Development,2,4,Medical,4407,Male,1,Laboratory Technician,Divorced,26790,2.0,15,0,10.0,2,3,0,2,2016-12-31 00:00:00,4.0,4.0,3.0,2,3,None,None,None,None,None,None,None,None
4407,25,Travel_Rarely,Research & Development,25,2,Life Sciences,4408,Male,2,Sales Executive,Married,37020,0.0,20,0,5.0,4,4,1,2,2016-12-31 00:00:00,1.0,3.0,3.0,3,4,None,None,None,None,None,None,None,None
4408,42,Travel_Rarely,Sales,18,2,Medical,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,14,1,10.0,2,9,7,8,2016-12-31 00:00:00,4.0,1.0,3.0,2,3,None,None,None,None,None,None,None,None
4409,40,Travel_Rarely,Research & Development,28,3,Medical,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,12,0,NaN,6,21,3,9,2016-12-31 00:00:00,1.0,3.0,NaN,4,3,None,None,None,None,None,None,None,None

### Dummies

In [171]:
pd.get_dummies(d2015, columns=['Attrition', 'retirementType', 'resignationReason'])

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,InfoDate,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating,retirementDate,Attrition_Yes,retirementType_Fired,retirementType_Resignation,resignationReason_Others,resignationReason_Salary,resignationReason_Stress
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,Healthcare Representative,Married,131160,1.0,11,0,1.0,6,1,0,0,2015-12-31 00:00:00,3.0,4.0,2.0,3,3,None,False,False,False,False,False,False
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,Research Scientist,Single,41890,0.0,23,1,6.0,3,5,1,4,2015-12-31 00:00:00,3.0,2.0,4.0,2,4,2016-10-15 00:00:00,True,False,True,True,False,False
2,32,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,Sales Executive,Married,193280,1.0,15,3,5.0,2,5,0,3,2015-12-31 00:00:00,2.0,2.0,1.0,3,3,None,False,False,False,False,False,False
3,38,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,Human Resources,Married,83210,3.0,11,3,13.0,5,8,7,5,2015-12-31 00:00:00,4.0,4.0,3.0,2,3,None,False,False,False,False,False,False
4,32,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,Sales Executive,Single,23420,4.0,12,2,9.0,2,6,0,4,2015-12-31 00:00:00,4.0,1.0,3.0,3,3,None,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,Travel_Rarely,Research & Development,5,4,Medical,4406,Female,1,Research Scientist,Single,60290,3.0,17,1,10.0,5,3,0,2,2015-12-31 00:00:00,4.0,1.0,3.0,3,3,None,False,False,False,False,False,False
4406,29,Travel_Rarely,Research & Development,2,4,Medical,4407,Male,1,Laboratory Technician,Divorced,26790,2.0,15,0,10.0,2,3,0,2,2015-12-31 00:00:00,4.0,4.0,3.0,2,3,None,False,False,False,False,False,False
4407,25,Travel_Rarely,Research & Development,25,2,Life Sciences,4408,Male,2,Sales Executive,Married,37020,0.0,20,0,5.0,4,4,1,2,2015-12-31 00:00:00,1.0,3.0,3.0,3,4,None,False,False,False,False,False,False
4408,42,Travel_Rarely,Sales,18,2,Medical,4409,Male,1,Laboratory Technician,Divorced,23980,0.0,14,1,10.0,2,9,7,8,2015-12-31 00:00:00,4.0,1.0,3.0,2,3,None,False,False,False,False,False,False
4409,40,Travel_Rarely,Research & Development,28,3,Medical,4410,Male,2,Laboratory Technician,Divorced,54680,0.0,12,0,NaN,6,21,3,9,2015-12-31 00:00:00,1.0,3.0,NaN,4,3,None,False,False,False,False,False,False

In [160]:
d2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   BusinessTravel           4410 non-null   object
 2   Department               4410 non-null   object
 3   DistanceFromHome         4410 non-null   int64
 4   Education                4410 non-null   int64
 5   EducationField           4410 non-null   object
 6   EmployeeID               4410 non-null   int64
 7   Gender                   4410 non-null   object
 8   JobLevel                 4410 non-null   int64
 9   JobRole                  4410 non-null   object
 10  MaritalStatus            4410 non-null   object
 11  MonthlyIncome            4410 non-null   int64
 12  NumCompaniesWorked       4391 non-null   float64
 13  PercentSalaryHike        4410 non-null   int64
 14  StockOptionLevel         4410 non-null   int64
 15  TotalWorkingYears        4401 non-null   float64
 16  TrainingTimesLastYear    4410 non-null   int64
 17  YearsAtCompany           4410 non-null   int64
 18  YearsSinceLastPromotion  4410 non-null   int64
 19  YearsWithCurrManager     4410 non-null   int64
 20  InfoDate                 4410 non-null   object
 21  EnvironmentSatisfaction  4385 non-null   float64
 22  JobSatisfaction          4390 non-null   float64
 23  WorkLifeBalance          4372 non-null   float64
 24  JobInvolvement           4410 non-null   int64
 25  PerformanceRating        4410 non-null   int64
 26  Attrition                650 non-null    object
 27  retirementDate           650 non-null    object
 28  retirementType           650 non-null    object
 29  resignationReason        585 non-null    object
dtypes: float64(5), int64(14), object(11)
memory usage: 1.0+ MB

In [162]:
## Frecuencia de la base de datos
for column in d2015.columns:
    print(f"Frecuencia en la columna: {column}")
    print(d2015[column].value_counts())
    print("\n")

Frecuencia en la columna: Age
Age
35    234
34    231
31    207
36    207
29    204
32    183
30    180
38    174
33    174
40    171
37    150
28    144
27    144
42    138
39    126
45    123
41    120
26    117
46     99
44     99
43     96
50     90
24     78
25     78
49     72
47     72
55     66
48     57
51     57
53     57
52     54
54     54
22     48
58     42
23     42
56     42
21     39
20     33
59     30
19     27
18     24
60     15
57     12
Name: count, dtype: int64


Frecuencia en la columna: BusinessTravel
BusinessTravel
Travel_Rarely        3129
Travel_Frequently     831
Non-Travel            450
Name: count, dtype: int64


Frecuencia en la columna: Department
Department
Research & Development    2883
Sales                     1338
Human Resources            189
Name: count, dtype: int64


Frecuencia en la columna: DistanceFromHome
DistanceFromHome
2     633
1     624
10    258
9     255
3     252
7     252
8     240
5     195
4     192
6     177
16     96
11     87
24     84
23     81
29     81
18     78
15     78
25     75
26     75
20     75
28     69
19     66
14     63
17     60
12     60
22     57
13     57
21     54
27     36
Name: count, dtype: int64


Frecuencia en la columna: Education
Education
3    1716
4    1194
2     846
1     510
5     144
Name: count, dtype: int64


Frecuencia en la columna: EducationField
EducationField
Life Sciences       1818
Medical             1392
Marketing            477
Technical Degree     396
Other                246
Human Resources       81
Name: count, dtype: int64


Frecuencia en la columna: EmployeeID
EmployeeID
1       1
2938    1
2944    1
2943    1
2942    1
       ..
1477    1
1478    1
1479    1
1480    1
4410    1
Name: count, Length: 4410, dtype: int64


Frecuencia en la columna: Gender
Gender
Male      2646
Female    1764
Name: count, dtype: int64


Frecuencia en la columna: JobLevel
JobLevel
1    1629
2    1602
3     654
4     318
5     207
Name: count, dtype: int64


Frecuencia en la columna: JobRole
JobRole
Sales Executive              978
Research Scientist           876
Laboratory Technician        777
Manufacturing Director       435
Healthcare Representative    393
Manager                      306
Sales Representative         249
Research Director            240
Human Resources              156
Name: count, dtype: int64


Frecuencia en la columna: MaritalStatus
MaritalStatus
Married     2019
Single      1410
Divorced     981
Name: count, dtype: int64


Frecuencia en la columna: MonthlyIncome
MonthlyIncome
23420     12
61420      9
27410      9
26100      9
23800      9
          ..
120610     3
56740      3
96130      3
69290      3
54680      3
Name: count, Length: 1349, dtype: int64


Frecuencia en la columna: NumCompaniesWorked
NumCompaniesWorked
1.0    1558
0.0     586
3.0     474
2.0     438
4.0     415
7.0     222
6.0     208
5.0     187
9.0     156
8.0     147
Name: count, dtype: int64


Frecuencia en la columna: PercentSalaryHike
PercentSalaryHike
11    630
13    627
14    603
12    594
15    303
18    267
17    246
16    234
19    228
22    168
20    165
21    144
23     84
24     63
25     54
Name: count, dtype: int64


Frecuencia en la columna: StockOptionLevel
StockOptionLevel
0    1893
1    1788
2     474
3     255
Name: count, dtype: int64


Frecuencia en la columna: TotalWorkingYears
TotalWorkingYears
10.0    605
6.0     375
8.0     307
9.0     287
5.0     264
7.0     243
1.0     242
4.0     189
12.0    144
3.0     126
15.0    120
16.0    111
13.0    108
11.0    106
21.0    102
17.0     99
14.0     93
2.0      93
20.0     89
18.0     81
23.0     66
19.0     66
22.0     62
24.0     54
25.0     42
26.0     42
28.0     42
0.0      33
29.0     30
31.0     27
32.0     27
27.0     21
30.0     21
33.0     21
36.0     18
34.0     15
37.0     12
35.0      9
40.0      6
38.0      3
Name: count, dtype: int64


Frecuencia en la columna: TrainingTimesLastYear
TrainingTimesLastYear
2    1641
3    1473
4     369
5     357
1     213
6     195
0     162
Name: count, dtype: int64


Frecuencia en la columna: YearsAtCompany
YearsAtCompany
5     588
1     513
3     384
2     381
10    360
4     330
7     270
9     246
8     240
6     228
0     132
11     96
20     81
13     72
15     60
14     54
22     45
12     42
21     42
18     39
16     36
19     33
17     27
24     18
33     15
26     12
25     12
31      9
32      9
29      6
27      6
36      6
23      6
34      3
30      3
37      3
40      3
Name: count, dtype: int64


Frecuencia en la columna: YearsSinceLastPromotion
YearsSinceLastPromotion
0     1743
1     1071
2      477
7      228
4      183
3      156
5      135
6       96
11      72
8       54
9       51
15      39
13      30
12      30
14      27
10      18
Name: count, dtype: int64


Frecuencia en la columna: YearsWithCurrManager
YearsWithCurrManager
2     1032
0      789
7      648
3      426
8      321
4      294
1      228
9      192
5       93
6       87
10      81
11      66
12      54
13      42
17      21
15      15
14      15
16       6
Name: count, dtype: int64


Frecuencia en la columna: InfoDate
InfoDate
2015-12-31 00:00:00    4410
Name: count, dtype: int64


Frecuencia en la columna: EnvironmentSatisfaction
EnvironmentSatisfaction
3.0    1350
4.0    1334
2.0     856
1.0     845
Name: count, dtype: int64


Frecuencia en la columna: JobSatisfaction
JobSatisfaction
4.0    1367
3.0    1323
1.0     860
2.0     840
Name: count, dtype: int64


Frecuencia en la columna: WorkLifeBalance
WorkLifeBalance
3.0    2660
2.0    1019
4.0     454
1.0     239
Name: count, dtype: int64


Frecuencia en la columna: JobInvolvement
JobInvolvement
3    2604
2    1125
4     432
1     249
Name: count, dtype: int64


Frecuencia en la columna: PerformanceRating
PerformanceRating
3    3732
4     678
Name: count, dtype: int64


Frecuencia en la columna: Attrition
Attrition
Yes    650
Name: count, dtype: int64


Frecuencia en la columna: retirementDate
retirementDate
2016-09-04 00:00:00    6
2016-06-23 00:00:00    6
2016-01-28 00:00:00    6
2016-10-20 00:00:00    5
2016-02-22 00:00:00    5
                      ..
2016-09-18 00:00:00    1
2016-09-21 00:00:00    1
2016-10-18 00:00:00    1
2016-05-10 00:00:00    1
2016-08-14 00:00:00    1
Name: count, Length: 301, dtype: int64


Frecuencia en la columna: retirementType
retirementType
Resignation    585
Fired           65
Name: count, dtype: int64


Frecuencia en la columna: resignationReason
resignationReason
Others    296
Salary    173
Stress    116
Name: count, dtype: int64

Se identifica que la variable 'Attrition' cuenat con un solo valor para todos los empleados por lo cual se decide eliminarla al considerarla irrelevante para el problema.

La variable 'retirementType' se convertira

In [157]:
## Se exportan los DataFrame a archivos csv
datos_2015.to_csv('/content/drive/MyDrive/Analítica III/AA/Analitica-en-recursos-humanos/Datos/df_2015', index=False)
datos_2016.to_csv('/content/drive/MyDrive/Analítica III/AA/Analitica-en-recursos-humanos/Datos/df_2016', index=False)